<!doctype html>
<html lang="uk">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dmark | Кошик</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">
</head>

<body>
  <style>
    .under-nav {
      position: relative;
      height: 40px;
      background: rgb(245, 245, 245);
      border-bottom: 1px solid rgb(229, 233, 241);
      z-index: 99999;
    }

    nav {
      position: relative;
      background: #fff;
      border-bottom: 1px solid rgb(229, 233, 241);
      margin-bottom: 30px;
      z-index: 99999;
    }

    nav .nav-fix {
      position: inherit;
      border-bottom: 1px solid rgb(229, 233, 241);
    }

    .nav-fix .container {
      padding-top: 25px;
      padding-bottom: 28px;
    }

    .navbar-brand {
      position: relative;
      color: rgb(0, 40, 120);
      font-size: 20px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
    }

    .navbar-brand img {
      height: 38px;
    }

    .form-control-fix {
      color: rgb(0, 40, 120);
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 500;

      padding-top: 4px;
      padding-left: 20px;
      padding-right: 50px;

      border: 0;
    }

    .form-control-fix:focus {
      box-shadow: 0 0 0 0.2rem rgb(0, 40, 120);
      border: 0;
    }

    .btn-search-fix {
      position: absolute;
      right: 5px;

      width: 50px;
      height: 100%;
    }

    .btn-search-fix i {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-size: 18px;
      color: rgb(0, 40, 120);
    }

    .btn-panel-fix {
      width: 30px;
      height: 100%;
      padding: 0;
      margin-left: 12px;
    }

    .btn-panel-fix:focus {
      border: 0;
      box-shadow: 0;
    }

    .btn-panel-fix i {
      font-size: 18px;
      color: rgb(0, 40, 120);
    }

    .btn-panel-fix:hover #icon_favorites {
      color: #FF0800;
    }

    .btn-panel-fix:hover #icon_user {
      color: #3BB143;
    }

    .btn-panel-fix:hover #icon_cart {
      color: #FF5E0E;
    }

    .nav-item {
      color: rgb(0, 40, 120);
      text-decoration: none;
      font-size: 22px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      border-bottom: 2px solid rgb(229, 233, 241);
      cursor: pointer;
    }

    .nav-item i {
      height: 100%;
      font-size: 17px;
      padding-left: 15px;
      margin-top: auto;
      margin-bottom: auto;
    }

    .navbar-nav .collapse {
      border-bottom: 2px solid rgb(229, 233, 241);
    }

    .navbar-nav .collapse p {
      margin-bottom: 15px;
    }

    .navbar-nav .collapse p a {
      font-size: 18px;
      font-family: 'Roboto Condensed', sans-serif;
      color: rgb(82, 82, 96);
    }

    .col-panel-fix {
      position: relative;
      border: 3px solid transparent;
      padding-top: 6px;
      padding-left: 18px;
      padding-right: 18px;
      padding-bottom: 6px;
      z-index: 99999;
    }

    .col-panel-fix:hover {
      border-bottom: 3px solid rgb(0, 40, 120);
    }

    .col-panel-fix-active {
      border: 3px solid rgb(0, 40, 120);
    }

    .link-panel-fix {
      position: inherit;
      color: rgb(0, 40, 120);
      text-decoration: none;
      font-size: 17px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      z-index: 99999;
    }

    .link-panel-dropdown {
      width: 190px;
      position: absolute;
      transform: translate(-50%, -50%);
      background: #fff;
      border: 1px solid rgb(240, 240, 240);
      border-top: 1px solid rgb(240, 240, 240);
      border-radius: 0 0 6px 6px;
      text-align: left;
      padding-top: 2px;
      padding-left: 18px;
      padding-right: 18px;
      z-index: 99999;
    }

    .link-panel-dropdown p {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 15px;
      color: rgb(82, 82, 96);
      border-top: 1px solid transparent;
      border-bottom: 1px solid rgb(240, 240, 240);
      padding-top: 4px;
      padding-bottom: 8px;
      margin: 0;
    }

    .link-panel-dropdown p a {
      color: rgb(82, 82, 96);
      text-decoration: none;
    }

    #nav_overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: 9999;
      display: none;
    }

    .card-cart {
      background: rgb(229, 233, 241);
      border-radius: 5px;
      padding-top: 13px;
      padding-left: 18px;
      padding-right: 18px;
      padding-bottom: 18px;
      margin-bottom: 20px
    }

    .card-cart h2 {
      color: rgb(0, 40, 120);
      font-size: 1.3rem;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      margin-top: 3px;
    }

    .card-img {
      position: relative;
      padding-top: 15px;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 15px;
      cursor: pointer;
    }

    .card-img-top {
      max-width: 100%;
      width: auto;
      height: 100%;
      object-fit: contain;
      object-position: bottom;
    }

    .card-price-fix {
      color: rgb(0, 40, 120);
      font-size: 1.4rem;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      margin-bottom: 12px;
    }

    .card-case {
      color: #999999;
      font-size: 0.85rem;
      font-family: 'Roboto Condensed', sans-serif;
      margin-top: -2px;
      margin-bottom: 0;
    }

    .card-title-fix {
      color: rgb(0, 40, 120);
      font-size: 1.2rem;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 500;
      overflow: hidden;
    }

    .card-subtitle-fix {
      font-size: 1rem;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 500;
      color: rgb(82, 82, 96);
      margin-top: -10px;
      margin-bottom: 0;
    }

    .card-delivery {
      background: rgb(229, 233, 241);
      border-radius: 5px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      padding-top: 13px;
      padding-left: 18px;
      padding-right: 18px;
      padding-bottom: 18px;
      margin-bottom: 20px;
    }

    .card-delivery p {
      color: rgb(0, 40, 120);
      font-size: 1.3rem;
      margin: 0;
    }

    .card-info {
      background: rgb(229, 233, 241);
      border-radius: 5px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      padding-top: 13px;
      padding-left: 18px;
      padding-right: 18px;
      padding-bottom: 18px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .card-info p {
      color: rgb(0, 40, 120);
      font-size: 1.3rem;
      margin: 0;
    }

    .card-total {
      background: rgb(229, 233, 241);
      border-radius: 5px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      padding-top: 13px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .card-total h2 {
      color: rgb(0, 40, 120);
      font-size: 1.3rem;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: 700;
      margin-top: 3px;
      margin-bottom: 2px;
    }

    .card-total p {
      color: rgb(0, 40, 120);
      font-size: 1.2rem;
      font-weight: 500;
      margin: 0;
    }

    .card-total-item {
      border-top: 1px solid transparent;
      border-bottom: 1px solid rgb(229, 233, 241);
      margin-top: 7px;
      padding-bottom: 10px;
      padding-top: 0;
    }

    .card-total-item-last {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      margin-top: 6px;
      padding-bottom: 10px;
      padding-top: 0;
    }

    .card-submit {
      background: rgb(229, 233, 241);
      border-radius: 5px;
      font-family: 'Roboto Condensed', sans-serif;
      padding-top: 18px;
      padding-left: 18px;
      padding-right: 18px;
      padding-bottom: 18px;
      margin-top: 20px;
    }

    .card-submit button {
      background: rgb(0, 40, 120);
      border-radius: 50px;
      border: 0;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 500;
      padding-top: 10px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 12px;
      transition: 0ms;
    }

    .card-submit button:hover {
      background: rgb(0, 56, 168);
      color: #fff;
    }

    .card-submit-error {
      background: rgba(248, 215, 218, 1);
      border-radius: 5px;
      font-family: 'Roboto Condensed', sans-serif;
      padding-top: 18px;
      padding-left: 18px;
      padding-right: 18px;
      padding-bottom: 18px;
      margin-top: 20px;
      margin-bottom: 2px;
    }

    .card-submit-error button {
      background: rgba(220, 53, 69, 1);
      border-radius: 50px;
      border: 0;
      color: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 500;
      padding-top: 10px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 12px;
      transition: 0ms;
      pointer-events: none;
    }

    .card-submit-error button:hover {
      background: rgba(220, 53, 69, 1);
      color: #fff;
    }

    .btn-close:focus {
      border: 0;
      box-shadow: 0;
    }

    .form-floating input:focus {
      box-shadow: 0 0 0 0.2rem rgb(0, 40, 120);
      border: 0;
    }

    .form-floating textarea:focus {
      box-shadow: 0 0 0 0.2rem rgb(0, 40, 120);
      border: 0;
    }

    .form-floating label {
      color: rgb(82, 82, 96);
      font-weight: 500;
    }

    .form-floating input {
      color: rgb(0, 40, 120);
    }

    .form-floating select {
      color: rgb(0, 40, 120);
    }

    .form-floating select:focus {
      box-shadow: 0 0 0 0.2rem rgb(0, 40, 120);
      border: 0;
    }

    .form-floating select[disabled] {
      color: rgb(82, 82, 96);
    }

    .form-floating textarea {
      color: rgb(0, 40, 120);
      resize: none;
    }

    .form-select:disabled {
      border: 1px solid rgb(220, 220, 220)
    }

    .inside-total {
      padding-top: 5px;
      padding-bottom: 10px;
    }

    .inside-total p {
      font-size: 2rem;
      font-weight: 700;
    }

    @media (max-width: 576px) {
      .nav-fix .container {
        padding-top: 15px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
      }

      .navbar-brand img {
        height: 28px;
        margin-top: -3px;
        margin-left: 4px;
      }

      .inside-total {
        padding-top: 6px;
        padding-bottom: 10px;
      }

      .inside-total p {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  </style>

  <div class="toast-container position-fixed bottom-0 end-0 p-4">
    <div id="review_toast" class="toast align-items-center px-1" role="alert" aria-live="assertive" aria-atomic="true"
      style="width: 179px; background: rgb(0, 40, 120); color: #fff; font-size: 15px;">
      <div class="d-flex">
        <div class="toast-body">
          Дякуємо за відгук&nbsp;&nbsp;<i class="fa-solid fa-hand-peace"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="cart_toast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">
          Hello, world! This is a toast message.
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>

  <div class="under-nav d-none d-lg-block">
    <div class="container">
      <p
        style="color: rgb(0, 40, 120); font-family: 'Roboto Condensed', sans-serif; font-size: 0.95rem; font-weight: 500; text-align: right;padding-top: 7px;">
        <i class="fa-solid fa-location-dot" style="font-size: 0.90rem;"></i>&nbsp;&nbsp;Львів,
        Сокільники&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-square-phone"
          style="font-size: 1rem;"></i>&nbsp;&nbsp;+38 (067) 676-67-39
      </p>
    </div>
  </div>

  <nav>
    <div class="nav-fix">
      <div class="container">
        <div class="row">

          <div class="col-4 col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <a class="navbar-brand" href="/catalog/">
              <img src="/img/logo.png" alt="Logo" class="d-inline-block align-text-top">
              <!--DM Deutsche Chemie-->
            </a>
          </div>

          <div class="col-8 col-sm-6 col-md-6 d-lg-none">
            <div style="height: 100%; position: relative; text-align: right;">
              <button id="button_favorites" type="button" class="btn btn-panel-fix"
                onclick="window.open('/account/favorites/', '_self');">
                <i class="fas fa-heart"></i>
              </button>
              <button id="button_user" type="button" class="btn btn-panel-fix" <% if (user) {
                %>onclick="window.open('/account/',
                '_self');"<% } else { %>onclick="window.open('/authentication/', '_self');"<% } %>>
                    <% if (user) { %><i class="fa-solid fa-user-check"></i>
                      <% } else { %><i class="fas fa-user"></i>
                        <% } %>
              </button>
              <button id="button_cart" <% if (user) { %>style="margin-left: 5px;"<% } %> type="button" class="btn
                  btn-panel-fix"
                  onclick="window.open('/cart/', '_self');">
                  <i class="fas fa-shopping-cart"></i>
              </button>
              <button type="button" class="btn btn-panel-fix" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
              </button>

              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">&nbsp;</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 text-start">
                    <li class="nav-item py-2 px-3 d-flex justify-content-between" style="border-top: 2px solid rgb(229, 233, 241);"
                      onclick="window.open('/catalog/newest/', '_self');">
                      <a class="nav-link d-inline-flex">Новинки</a>
                      <i class="fa-solid fa-angle-right d-inline-flex"></i>
                    </li>

                    <li class="nav-item py-2 px-3 d-flex justify-content-between">
                      <a class="nav-link d-inline-flex" href="/catalog/denkmit/">Denkmit</a>
                      <i class="fa-solid fa-chevron-down" data-bs-toggle="collapse" href="#collapse_sidebar_denkmit"
                        role="button" aria-expanded="false" aria-controls="collapse_sidebar_denkmit"
                        onclick="changeIconSidebar(this);"></i>
                    </li>

                    <div class="collapse px-3 py-2" id="collapse_sidebar_denkmit">
                      <p style="margin-top: 10px;"><a href="/catalog/denkmit/kitchen/">Засоби для кухні</a></p>
                      <p><a href="/catalog/denkmit/washing/">Засоби для прання</a></p>
                      <p><a href="/catalog/denkmit/wc/">Засоби для туалету</a></p>
                      <p><a href="/catalog/denkmit/cleaning/">Засоби для прибирання</a></p>
                      <p><a href="/catalog/denkmit/fresh/">Освіжувачі повітря</a></p>
                      <p style="margin-bottom: 10px;"><a href="/catalog/denkmit/other/">Інше</a></p>
                    </div>

                    <li class="nav-item py-2 px-3 d-flex justify-content-between">
                      <a class="nav-link d-inline-flex" href="/catalog/balea/">Balea</a>
                      <i class="fa-solid fa-chevron-down" data-bs-toggle="collapse" href="#collapse_sidebar_balea"
                        role="button" aria-expanded="false" aria-controls="collapse_sidebar_balea"
                        onclick="changeIconSidebar(this);"></i>
                    </li>

                    <div class="collapse px-3 py-2" id="collapse_sidebar_balea">
                      <p style="margin-top: 10px;"><a href="/catalog/balea/hair/">Засоби для волосся</a></p>
                      <p><a href="/catalog/balea/skin/">Засоби для шкіри</a></p>
                      <p><a href="/catalog/balea/body/">Засоби для тіла</a></p>
                      <p><a href="/catalog/balea/shave/">Засоби для гоління</a></p>
                      <p style="margin-bottom: 10px;"><a href="/catalog/balea/hygiene/">Засоби для гігієни</a></p>
                    </div>

                    <li class="nav-item py-2 px-3 d-flex justify-content-between">
                      <a class="nav-link d-inline-flex" href="/catalog/alverde/">Alverde</a>
                      <i class="fa-solid fa-angle-right d-inline-flex"></i>
                    </li>
                    <li class="nav-item py-2 px-3 d-flex justify-content-between">
                      <a class="nav-link d-inline-flex" href="/catalog/dontodent/">Dontodent</a>
                      <i class="fa-solid fa-angle-right d-inline-flex"></i>
                    </li>
                    <li class="nav-item py-2 px-3 d-flex justify-content-between">
                      <a class="nav-link d-inline-flex" href="/catalog/mivolis/">Mivolis</a>
                      <i class="fa-solid fa-angle-right d-inline-flex"></i>
                    </li>
                    <li class="nav-item py-2 px-3 d-flex justify-content-between">
                      <a class="nav-link d-inline-flex" href="/catalog/frosch/">Frosch</a>
                      <i class="fa-solid fa-angle-right d-inline-flex"></i>
                    </li>
                    <li class="nav-item py-2 px-3 d-flex justify-content-between">
                      <a class="nav-link d-inline-flex" href="/catalog/profissimo/">Profissimo</a>
                      <i class="fa-solid fa-angle-right d-inline-flex"></i>
                    </li>
                    <li class="nav-item py-2 px-3 d-flex justify-content-between">
                      <a class="nav-link d-inline-flex" href="/catalog/babylove/">Babylove</a>
                      <i class="fa-solid fa-angle-right d-inline-flex"></i>
                    </li>
                    <li class="nav-item py-2 px-3 d-flex justify-content-between">
                      <a class="nav-link d-inline-flex" href="/catalog/beckmann/">Dr.Beckmann</a>
                      <i class="fa-solid fa-angle-right d-inline-flex"></i>
                    </li>
                    <li class="nav-item py-2 px-3 d-flex justify-content-between">
                      <a class="nav-link d-inline-flex" href="/catalog/other/">Інше</a>
                      <i class="fa-solid fa-angle-right d-inline-flex"></i>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>

          <div class="col-12 col-sm-12 col-lg-6 col-xl-6 mt-3 mt-sm-3 mt-md-3 mt-lg-0 mt-xl-0">
            <form class="d-flex" role="search" style="position: relative;" method="get">
              <input class="form-control form-control-fix" type="search" placeholder="Пошук" aria-label="Search"
                name="search" style="height: 44px; border-radius: 44px; background: rgb(229, 233, 241);"
                value="<% if (typeof search !== 'undefined') { %><%= search %><% } %>">
              <button type="submit" class="btn btn-search-fix">
                <i class="fas fa-search"></i>
              </button>
            </form>
          </div>

          <div class="d-none d-lg-block col-md-3 col-lg-3 col-xl-3">
            <div style="height: 100%; position: relative; text-align: right;">
              <button type="button" class="btn btn-panel-fix" onclick="window.open('/account/favorites/', '_self');">
                <i id="icon_favorites" class="fas fa-heart"></i>
              </button>
              <button type="button" class="btn btn-panel-fix" <% if (user) { %>onclick="window.open('/account/',
                '_self');"<% } else { %>onclick="window.open('/authentication/', '_self');"<% } %>>
                    <% if (user) { %><i id="icon_user" class="fa-solid fa-user-check"></i>
                      <% } else { %><i id="icon_user" class="fas fa-user"></i>
                        <% } %>
              </button>
              <button <% if (user) { %>style="margin-left: 5px;"<% } %> type="button" class="btn btn-panel-fix"
                  onclick="location.href='/cart/';">
                  <i id="icon_cart" class="fas fa-shopping-cart"></i>
              </button>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="container text-center d-none d-lg-block">
      <div class="row">
        <div class="col col-panel-fix <% if (url === '/catalog/newest/') { %>col-panel-fix-active<% } %> py-2">
          <a class="link-panel-fix" href="/catalog/newest/">Новинки</a>
        </div>

        <div id="link_denkmit"
          class="col-6 col-sm-3 col-lg col-panel-fix <% if (url === '/catalog/denkmit/') { %>col-panel-fix-active<% } %> py-2"
          style="position: relative; z-index: 99999;">
          <a class="link-panel-fix" href="/catalog/denkmit/">&nbsp;Denkmit™</a>
          <div class="link-panel-dropdown" id="dropdown_denkmit" style="top: 156px; left: 50%; display: none;">
            <p><a href="/catalog/denkmit/kitchen/">Засоби для кухні</a></p>
            <p><a href="/catalog/denkmit/washing/">Засоби для прання</a></p>
            <p><a href="/catalog/denkmit/wc/">Засоби для туалету</a></p>
            <p><a href="/catalog/denkmit/cleaning/">Засоби для прибирання</a></p>
            <p><a href="/catalog/denkmit/fresh/">Освіжувачі повітря</a></p>
            <p style="border-bottom: 1px solid transparent;"><a href="/catalog/denkmit/other/">Інше</a></p>
          </div>
        </div>

        <div id="link_balea"
          class="col-6 col-sm-3 col-lg col-panel-fix <% if (url === '/catalog/balea/') { %>col-panel-fix-active<% } %> py-2"
          style="position: relative; z-index: 99999;">
          <a class="link-panel-fix" href="/catalog/balea/">&nbsp;Balea™</a>
          <div class="link-panel-dropdown" id="dropdown_balea" style="top: 137.5px; left: 50%; display: none;">
            <p><a href="/catalog/balea/hair/">Засоби для волосся</a></p>
            <p><a href="/catalog/balea/skin/">Засоби для шкіри</a></p>
            <p><a href="/catalog/balea/body/">Засоби для тіла</a></p>
            <p><a href="/catalog/balea/shave/">Засоби для гоління</a></p>
            <p style="border-bottom: 1px solid transparent;"><a href="/catalog/balea/hygiene/">Засоби для гігієни</a>
            </p>
          </div>
        </div>

        <div
          class="col-6 col-sm-3 col-lg col-panel-fix <% if (url === '/catalog/alverde/') { %>col-panel-fix-active<% } %> py-2">
          <a class="link-panel-fix" href="/catalog/alverde/">&nbsp;Alverde™</a>
        </div>

        <div
          class="col-6 col-sm-3 col-lg col-panel-fix <% if (url === '/catalog/dontodent/') { %>col-panel-fix-active<% } %> py-2">
          <a class="link-panel-fix" href="/catalog/dontodent/">&nbsp;Dontodent™</a>
        </div>

        <div
          class="col-6 col-sm-3 col-lg col-panel-fix <% if (url === '/catalog/mivolis/') { %>col-panel-fix-active<% } %> py-2">
          <a class="link-panel-fix" href="/catalog/mivolis/">&nbsp;Mivolis™</a>
        </div>

        <div
          class="col-6 col-sm-3 col-lg col-panel-fix <% if (url === '/catalog/frosch/') { %>col-panel-fix-active<% } %> py-2">
          <a class="link-panel-fix" href="/catalog/frosch/">&nbsp;Frosch™</a>
        </div>

        <div
          class="col-6 col-sm-3 col-lg col-panel-fix <% if (url === '/catalog/profissimo/') { %>col-panel-fix-active<% } %> py-2">
          <a class="link-panel-fix" href="/catalog/profissimo/">&nbsp;Profissimo™</a>
        </div>

        <div
          class="col-6 col-sm-3 col-lg col-panel-fix <% if (url === '/catalog/babylove/') { %>col-panel-fix-active<% } %> py-2">
          <a class="link-panel-fix" href="/catalog/babylove/">&nbsp;Babylove™</a>
        </div>

        <div class="col col-panel-fix <% if (url === '/catalog/other/') { %>col-panel-fix-active<% } %> py-2">
          <a class="link-panel-fix" href="/catalog/other/">Інше</a>
        </div>
      </div>
    </div>

  </nav>

  <div id="nav_overlay"></div>


  <div class="container">
    <form id="form_order" class="needs-validation" method="post" onsubmit="validateForm(event)" novalidate>
      <div class="row">
        <% if (cart.length> 0) { %>
          <div class="col-2"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <div class="card-cart">
              <div class="mb-3">
                <h2>&nbsp;<i class="fa-solid fa-cart-plus" style="font-size: 17px;"></i>&nbsp;&nbsp;Кошик
                </h2>
              </div>
              <div class="row g-3">

                <% cart.forEach(function(item) { %>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card" style="height: 199px; border: 0; overflow: hidden;">
                      <div class="row g-0">
                        <div class="col-5 col-md-4 text-center"
                          style="height: 199px; background: rgb(246, 246, 247); padding: 15px;">
                          <img src="<%= item.pictures[0] %>" class="img-fluid rounded-start card-img-top">
                        </div>
                        <div class="col-7 col-md-8">
                          <div class="card-body" style="height: 100%; padding-top: 4px; padding-bottom: 0px;">
                            <div class="d-flex justify-content-end">
                              <button type="button" class="btn-close"
                                style="margin-top: 6px; margin-bottom: 8px; margin-right: -4px;"
                                onclick="location.href='/cart/del?id=<%= item.id %>';"></button>
                            </div>

                            <p class="card-title card-subtitle-fix" style="margin-top: -15px;">
                              <%= item.brand_original %>
                            </p>
                            <h5 class="card-title card-title-fix" style="height: 70px; margin-bottom: 13px;">
                              <%= item.title_translation %>, <%= item.volume %>
                            </h5>
                            <p class="card-case">Кількість в ящику: <%= item.case %> шт.</p>
                            <div class="d-flex">
                              <p class="card-title card-price-fix"
                                style="width: 100%; margin-bottom: 0; user-select: none;"><i
                                  class="fa-solid fa-caret-left"
                                  style="color: #fff; background: rgb(0, 40, 120); border: 1.5px solid rgb(0, 40, 120); border-radius: 5px; padding-left: 6px; padding-right: 6px; padding-bottom: 2px; margin-right: 2px; cursor: pointer;"
                                  onclick="decreaseValue('<%= item.id %>')"></i> <span id="cart_count_<%= item.id %>"
                                  style="user-select: none;">
                                  <%= item.quantity %>
                                </span> <i class="fa-solid fa-caret-right"
                                  style="color: #fff; background: rgb(0, 40, 120); border: 1.5px solid rgb(0, 40, 120); border-radius: 5px; padding-left: 6px; padding-right: 6px; padding-bottom: 2px; margin-left: 2px; margin-right: 8px; cursor: pointer;"
                                  onclick="increaseValue('<%= item.id %>')"></i><span
                                  style="color: #fff; background: #999999; border-radius: 5px; padding-left: 7px; padding-right: 7px; cursor: pointer;"
                                  onclick="increaseCase('<%= item.id %>', '<%= item.case %>')">+<%= item.case %></span>
                              </p>
                              <p id="cart_price_<%= item.id %>" hidden-id="<%= item.id %>"
                                class="card-title card-price-fix d-flex justify-content-end price-element"
                                style="width: 0%; margin-bottom: 0; opacity: 0; z-index: -1;"
                                label="<%= item.brand_original %> <%= item.title_original %>, <%= item.volume %>"
                                count="<%= item.quantity %>">
                                <%= item.price_total %>&nbsp;€
                              </p>
                              <p id="cart_price_<%= item.id %>_hidden" style="display: none;">
                                <%= item.price_total %>
                              </p>
                              <input style="display: none;" type="number" name="products" value="<%= item.id %>"
                                readonly required>
                              <input id="cart_amount_<%= item.id %>_hidden" style="display: none;" type="number"
                                name="amount" value="<%= item.quantity %>" required>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }); %>
              </div>
            </div>
          </div>
          <div class="col-2"></div>

          <div class="col-2"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <div class="card-delivery">
              <div class="mb-3">
                <p>&nbsp;<i class="fa-solid fa-truck" style="font-size: 16px;"></i>&nbsp;&nbsp;Доставка</p>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="form-floating mb-3">
                    <p id="current_region"
                      style="position: absolute; top: 13px; right: 15px; font-size: 20px; font-weight: 500;"></p>
                    <input type="text" class="form-control" id="input_region" placeholder="Місто" required>
                    <label for="floatingSelectGrid">Регіон</label>
                  </div>
                  <div class="form-floating mb-3 mb-sm-3 mb-md-3 mb-lg-0 mb-xl-0">
                    <div id="spinner_region"
                      style="position: absolute; top: 52.5%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;"
                      hidden>
                      <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                    <select class="form-select" id="select_region" name="region"
                      aria-label="Floating label select example" disabled>
                      <option selected>Виберіть регіон</option>
                    </select>
                    <label for="select_region">Регіон</label>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="form-floating mb-3">
                    <select class="form-select" id="select_branch_type" aria-label="Floating label">
                      <option value="Відділення" selected>Відділення</option>
                      <option value="Поштомат">Поштомат</option>
                      <option value="Адресна доставка">Адресна доставка</option>
                    </select>
                    <label for="select_brach_type">Тип точки видачі</label>
                  </div>
                  <div id="form_select_branch" class="form-floating">
                    <div id="spinner_branch"
                      style="position: absolute; top: 52.5%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;"
                      hidden>
                      <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden"></span>
                      </div>
                    </div>

                    <select class="form-select" id="select_branch" name="address" aria-label="label" disabled>
                      <option selected>Виберіть точку видачі</option>
                    </select>
                    <label for="select_branch">Точка видачі</label>
                  </div>

                  <div id="form_input_branch" class="form-floating" hidden>
                    <input type="text" class="form-control" id="input_branch" placeholder="Адреса">
                    <label for="input_branch">Адреса</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-info">
              <div class="mb-3">
                <p>&nbsp;<i class="fa-solid fa-address-card" style="font-size: 18px;"></i>&nbsp;&nbsp;Особиста
                  інформація
                </p>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="input_firstname" name="first_name" placeholder="Ім'я"
                      maxlength="30" required>
                    <label for="input_firstname" class="form-label">Ім'я</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="input_lastname" name="last_name" placeholder="Прізвище"
                      maxlength="30" required>
                    <label for="input_lastname" class="form-label">Прізвище</label>
                  </div>
                  <div class="form-floating mb-3 mb-sm-3 mb-md-3 mb-lg-0 mb-xl-0">
                    <input type="text" class="form-control" id="input_phonenumber" name="phone_number"
                      onkeyup="formatNumber(this)" placeholder="+38 XXX XXX XXXX" maxlength="19" required>
                    <label for="input_phonenumber" class="form-label">Номер телефону</label>
                  </div>
                  <!-- <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                <label for="floatingInput" class="form-label">Email</label>
              </div> -->
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                  <div class="form-floating" style="height: 100%;">
                    <textarea class="form-control" placeholder="Leave a comment here" id="input_comment" name="comment"
                      style="height: 100%" maxlength="300"></textarea>
                    <label for="input_comment">Коментар (не обов'язково)</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-total">
              <div class="mb-3">
                <h2>&nbsp;<i class="fa-solid fa-rectangle-list" style="font-size: 17px;"></i>&nbsp;&nbsp;Загальна
                  накладна
                </h2>
              </div>
              <div
                style="width: 100%; height: 2px; background: rgb(160, 175, 206); border-radius: 20px; margin-bottom: 5px; display: none;">
              </div>

              <div id="card-total" class="mb-3"
                style="background: #fff; padding-top: 3px; padding-left: 10px; padding-right: 10px; border-radius: 6px;">
              </div>

              <div
                style="background: #fff; padding-top: 3px; padding-left: 10px; padding-right: 10px; border-radius: 6px;">
                <div id="inside-total" class="row px-1 inside-total">
                  <div class="col-3">
                    <p class="text-start">Разом:</p>
                  </div>
                  <div class="col-9">
                    <p id="price_total" class="text-end"></p>
                  </div>
                </div>
              </div>
            </div>

            <div id="submit_card" class="card-submit d-flex justify-content-center">
              <button type="submit" class="btn">Підтвердити замовлення</button>
            </div>

            <div id="submit_card_error" class="card-submit-error d-flex justify-content-center d-none">
              <button class="btn">Увага! Мінімальна сума замовлення – 80 €</button>
            </div>
          </div>
          <div class="col-2"></div>

          <% } else { %>
            <div class="d-none d-md-block col-md-1 col-lg-2"></div>
            <div class="col-12 col-sm-12 col-md-10 col-lg-8">
              <div class="d-flex justify-content-center px-4 px-sm-4 px-md-0"
                style="background: rgb(229, 233, 241); border-radius: 5px; border: 1px solid rgb(240, 240, 240); font-size: 16px; font-weight: 700; font-family: 'Roboto Condensed', sans-serif; padding-top: 22vh; padding-bottom: 22vh;">
                <div class="d-inline-flex"
                  style="background: rgb(0, 40, 120); border-radius: 12px; color: #fff; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
                  <p style="margin-bottom: 1px; text-align: center;">&nbsp;&nbsp;Ваш кошик порожній&nbsp;&nbsp;<i
                      class="fa-solid fa-circle-xmark"></i></p>
                </div>
              </div>
            </div>
            <div class="d-none d-md-block col-md-1 col-lg-2"></div>
            <% } %>

      </div>
    </form>
  </div>

  <%- include('footer') %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    function totalValue() {
      var elements = document.getElementsByClassName("price-element");

      var euro_coefficient = '<%= euro %>';
      var sum = 0;

      var cardTotal = document.getElementById("card-total");
      cardTotal.innerHTML = ""; // Очищаем содержимое card-total

      for (var i = 0; i < elements.length; i++) {
        var text = elements[i].innerText.replace(',', '.').slice(0, -2);
        var numbers = text.match(/[\d.]+/g);

        if (numbers !== null) {
          for (var j = 0; j < numbers.length; j++) {
            sum += parseFloat(numbers[j]);
          }
        }

        var label = elements[i].getAttribute('label');
        var count = elements[i].getAttribute('count');

        var row = document.createElement("div");
        row.classList.add("row");
        row.classList.add("px-1");
        row.classList.add("g-0");
        if (i !== (elements.length - 1)) {
          row.classList.add("card-total-item");
        } else {
          row.classList.add("card-total-item-last");
        }

        var col1 = document.createElement("div");
        col1.classList.add("col-9");

        var col2 = document.createElement("div");
        col2.classList.add("col-3");

        var labelP = document.createElement("p");
        labelP.classList.add("text-start");
        labelP.textContent = label + " (" + count + " шт.)";

        var priceP = document.createElement("p");
        priceP.classList.add("text-end");
        priceP.innerHTML = Math.ceil(text * euro_coefficient) + ' ₴<br><span style="color: rgba(82, 82, 96, 0.7);">' + text.replace('.', ',') + ' €</span>';

        col1.appendChild(labelP);
        col2.appendChild(priceP);

        row.appendChild(col1);
        row.appendChild(col2);

        cardTotal.appendChild(row);

        console.log("Label:", label, "Цена:", text);
      }

      $('#price_total').html('<span style="color: rgba(82, 82, 96, 0.7); font-weight: 500;">' + sum.toFixed(2).replace('.', ',') + ' € │</span> ' + Math.ceil(sum * euro_coefficient) + ' ₴');

      if (sum < 80) {
        document.getElementById('submit_card').classList.add("d-none");
        document.getElementById('submit_card_error').classList.remove("d-none");
      } else {
        document.getElementById('submit_card').classList.remove("d-none");
        document.getElementById('submit_card_error').classList.add("d-none");
      }
    }
  </script>
  <script src="/js/cart.js"></script>
</body>

</html>